<div class="full-page-less-nav container padding-top-180">
    <h3 class="text-center grey-text">What can we do for you</h3>
    <h1 class="text-center text-black-50 font-weight-bold mb-5">Services</h1>
    <div class="row margin-top-150">
        <div class="col-4 text-center">
            <i class="fas fa-laptop fa-5x grey-text"></i>
            <h3 class="text-center grey-text mt-4">Corporate Offerings</h3>
            <h5 class="m-0">Health assessments</h5>
            <p class="text-left ml-3 hide">5 key measurements which include BMI, waist circumference, blood glucose,
                blood pressure as well as cholesterol. These measurements are used to determine an individuals’
                chronic disease risk profile.</p>
            <h5 class="m-0">Wellness Testing and Screening</h5>
            <p class="text-left ml-3 hide">Registered dietitians will be stationed at stand giving advise and education
                to attendees of the wellness day</p>
            <h5 class="m-0">Executive Consults</h5>
            <p class="text-left ml-3 hide">Full assessments, implementation of meal plans and periodic monitoring for
                executives</p>
            <h5 class="m-0">Nutrition Presentations/Education</h5>
            <p class="text-left ml-3 hide">The offering includes educational talks and presentations on various
                nutritional
                topics</p>

        </div>
        <div class="col-4 text-center">
            <i class="fas fa-utensils fa-5x grey-text"></i>
            <h3 class="text-center grey-text mt-4">Catering Service</h3>
            <h5 class="m-0">Events</h5>
            <h5 class="m-0">Pre-made meals (weekly delivery service)</h5>
            <h5 class="m-0">Cooking Studio/lessons</h5>
        </div>
        <div class="col-4 text-center">
            <i class="fas fa-comments fa-5x grey-text"></i>
            <h3 class="text-center grey-text mt-4">Consultations</h3>
            <h5 class="m-0">Diabetes management</h5>
            <h5 class="m-0">Infant and early childhood eating habits e.g picky eating</h5>
            <h5 class="m-0">Nutrition during pregnancy</h5>
            <h5 class="m-0">Insulin resistance</h5>
        </div>
    </div>
</div>