<div class="full-page-less-nav container padding-top-180">
    <h3 class="text-center grey-text">Make the right move</h3>
    <h1 class="text-center text-black-50 font-weight-bold mb-5">Bookings and Quotes</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/pexels-photo-1323640.jpeg" class="w-100" alt="">
        </div>
        <div class="col-md-6"></div>
    </div>
</div>