<section>
  <app-home-intro></app-home-intro>
</section>
<section>
  <app-home-services></app-home-services>
</section>
<section>
  <app-home-break-first></app-home-break-first>
</section>
<section>
  <app-home-about-us></app-home-about-us>
</section>
<section>
  <app-home-break-second></app-home-break-second>
</section>
<section>
  <app-home-bookings></app-home-bookings>
</section>
<section>
  <app-home-contact-us></app-home-contact-us>
</section>