/* You can add global styles to this file, and also import other style files */

/* helpers */

.full-page    {
    height: 100vh;
    width: 100%;
}

.full-page-less-nav    {
  height: calc(100vh - 64px);
  width: 100%;
}

.hide {
  display: none;
}

.margin-top-180 {
  margin-top: 180px;
}

.margin-top-150 {
  margin-top: 150px;
}

.padding-top-180 {
  padding-top: 180px;
}

/* material design */

.z-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .z-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  .z-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  .z-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .z-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  